
body{
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1{
  color:#F47C7C;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
}

h2{
  color:#F47C7C;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3{
  color:#EF9F9F;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
}

p{
  line-height: 2;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color:#DFDFDE;
  border-width: 5px;
  width: 5%;
  padding-bottom: 40px;
}

.profile{
  padding-top: 50px;
}

.hello-desc{
  width: 50%;
  margin: 0 auto 0 auto;
  padding-bottom: 50px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-1 {
  width:20%;
  float: left;
  margin-right: 30px;
}

.skill-2 {
  width:20%;
  float: right;
  margin-left: 30px;
}

.closing-desc{
  width:40%;
  margin: 40px auto 60px;
}

.footer-link{
  color:#FAD4D4;
  font-family: 'Montserrat', sans-serif;
  line-height: 1em;
  display: inline-block;
  text-decoration: none;
  margin: auto 40px 20px 40px;
}

a:hover{
  color:#FFF2F2;
}

.shuwen{
  color:#FFF2F2;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

.top-container{
  background-color: #FFF2F2;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 50px 0;
}

.bottom-container{
  background-color: #F47C7C;
  margin-top: 100px;
  padding: 40px 0 30px 0;
}

.top-cloud{
  position: absolute;
  right:300px;
  top:50px;
}

.bottom-cloud{
  position: absolute;
  left:300px;
  bottom:300px;
}

.btn {
  background: #FAD4D4;
  background-image: -webkit-linear-gradient(top, #FAD4D4, #F47C7C);
  background-image: -moz-linear-gradient(top, #FAD4D4, #F47C7C);
  background-image: -ms-linear-gradient(top, #FAD4D4, #F47C7C);
  background-image: -o-linear-gradient(top, #FAD4D4, #F47C7C);
  background-image: linear-gradient(to bottom, #FAD4D4, #F47C7C);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 17px 8px 17px;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background: #F47C7C;
  background-image: -webkit-linear-gradient(top, #F47C7C, #EF9F9F);
  background-image: -moz-linear-gradient(top, #F47C7C, #EF9F9F);
  background-image: -ms-linear-gradient(top, #F47C7C, #EF9F9F);
  background-image: -o-linear-gradient(top, #F47C7C, #EF9F9F);
  background-image: linear-gradient(to bottom, #F47C7C, #EF9F9F);
  text-decoration: none;
}
